<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922907195481-bcfqa86ksnvr3cgpi8p1gs9h8gdspjih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922907195481-bcfqa86ksnvr3cgpi8p1gs9h8gdspjih</string>
	<key>API_KEY</key>
	<string>AIzaSyBoLmYkApILW7Ii5mPBqVOd-F9AHESLm-g</string>
	<key>GCM_SENDER_ID</key>
	<string>922907195481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.abhinav</string>
	<key>PROJECT_ID</key>
	<string>scandit-f9d6a</string>
	<key>STORAGE_BUCKET</key>
	<string>scandit-f9d6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922907195481:ios:daa68148e0f22249e15948</string>
</dict>
</plist>